body{
  background-color: #1ba300;
background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
  margin: 50px;

}

h1{

  text-align: center;
}

input[type=text],{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}
img {
  position: absolute;

}
.game{
  margin-left: 450px;
  margin-top::auto;
  height: 450;
  width: 400px;
  border-radius: 50%;
  z-index: 1;
  animation: shake 3s;
  animation-iteration-count: 0.5s;
}
#character {
  height: 100px;
  width: 100px;
  padding-top: 200px;
  margin-left:600px;
  z-index: 2;
  animation-duration: 10s;
 animation-name: fadein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}




  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}




#sleepdino{
  display: none;
  z-index: 20;
  height: 100px;
  margin-left: 550px;
  margin-top: 225px;
}
}















#name {
  color: yellow;
  font-size: 40px;
}

#age {
  color: yellow;
  font-size: 40px;
}

#hunger {
  color: yellow;
  font-size: 40px;
}

#sleep {
  color: yellow;
  font-size: 40px;
}

#bordem {
  color: yellow;
  font-size: 40px;
}


#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0#
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;

}

#foodhide{
    margin-left: 550px;
    margin-top: 250px;
    animation-name: fadeOut;
    animation-duration: 0.7s;
    animation-direction: reverse;
    z-index: 14;
    height: 30px;
    display:none;

}

#bird{
  margin-left: 500px;
  margin-top: 100px;
  animation-name: fadeOut;
  animation-duration: 0.7s;
  animation-direction: reverse;
  z-index: 14;
  height: 100px;
  display:none;
}
@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

}

/* make this an ann. for working exercice */
.game:onclick {
  animation: shake 5s;
  animation-iteration-count: infinite;

}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#buttons{
margin-left: 525px;
position: absolute;
z-index: 5;
padding-top: 500px;
}
.buttons{

FONT: ICON;
TEXT-ALIGN: CENTER;
border-radius: 50%;
MARGIN-LEFT: 550PX;
MARGIN-TOP: 300PX;
POSITION: FIXED;
Z-INDEX: 9;
}

#sleepbtn{
  HEIGHT: 50PX;
  border-radius: 50%;
}

#feedbtn{
  HEIGHT: 50PX;
  border-radius: 50%;
}

#exercisebtn{
  HEIGHT: 50PX;
  border-radius: 50%;
}

#fname{
  WIDTH: 200PX;
height: 50px;
}

#start{
  height: 40px;
}

#olddino{
  display: none;
  height: 300px;
  width: 300px;
  padding-top: 100px;
  margin-left:500px;
  z-index: 2;
}
